@import url("https://fonts.googleapis.com/css?family=Coming+Soon");

body {
  background: #ab8db8;
  color: #5d0877;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Hangman {
  width: 80%;
  /* text-align: center; */
  margin: 0 auto;
  min-height: 80vh;
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
}

.btns {
  text-align: center;
  display: inline-block;
  width: 250px;
  margin-top: 0;
}

.Hangman button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: 30px;
  margin: 5px 2px;
  letter-spacing: 1px;
  outline: none;
  background: #5d0877;
  color: #fff;

  border-radius: 5px;
  padding-top: 4px;
}

.Hangman button:hover {
  background-color: #a505d6;
}

.Hangman button:disabled {
  background: #bdbdbd;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}