@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body, #root {
  background:linear-gradient(90deg,#cc2b5e,  #753a88 );
  margin: 0, auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
  margin: 0, auto;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1 {
  font-family:"Montserrat", sans-serif; 
  font-size: 3rem;
  font-weight:500;
  color: black;
}

.transit-head {
  font-family:"Montserrat", sans-serif; 
  font-size: 2rem;
  font-weight:400;
  color: black; 
  animation: transition 2s ease-in-out infinite;
}

@keyframes transition {
  0% {
    color: #333;
  }
  50% {
    color: #f80;
  }
  100% {
    color: #333;
  }
}
  
.player-name {
  text-align: center;
  margin-bottom: 2rem;
}

.player-name input {
  padding: 0.5rem;
  font-family:"Montserrat", sans-serif; 
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.player-name button {
  display:inline-block;
  padding:0.6rem;
  font-family:"Montserrat", sans-serif; 
  font-size: 1rem;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.player-name button:hover {
  background-color: #cc2b5e;
  color: #ccc;
}

.popup-content {
  position: fixed;
  /*margin-left: 37%;*/
  top:50%;
  left: 50%;
  width: 400px;
  height: 200px;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  font-family:"Montserrat", sans-serif; 
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px; 
  z-index: 999;
 /* transform: scale((0.5));*/
 transform: translate(-50%, -50%);
}

.popup-content h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.popup-content button {
  margin: 10px;
  background-color: #753a88 ;
  color: #fff;
  padding:0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index:999;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}


.popup-content button:hover {
  background-color: #cc2b5e;
}
 

.scoreboard {
  position: fixed;
  top:1rem;
  right: 2rem;
  padding: 1rem;
  color: #f80;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family:"Montserrat", sans-serif; 
}

.scoreboard h3 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0rem;
  padding-right: 3px;
}

.board-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-content h4 {
  font-size: 1rem;
  font-weight: 300;
  margin-right: 0.5rem;
}

.board-content p {
  font-size: 1rem;
  font-weight: 300;
}

.Hangman {
  font-family:"Montserrat", sans-serif; 
  font-weight:500;
  color: #5d0877;
  text-align: center;
  width: 80%;
  /* text-align: center; */
  margin: 0 auto;
  min-height: 80vh;
  font-size: 18px;
  font-style: inherit;
  font-weight: bold;
}
.Hangman-flex{
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
   min-height: inherit;
}

.Hangman-flex div{
  
  text-align: center;
}

/*.Hangman-reset{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 50%;
}

.Hangman-reset select{
  width: 100%;
  margin: 1rem 0;
  padding: 0.55em 0.7em;
  font-family:"Montserrat", sans-serif; 
}*/
.Hangman img{
  max-width: 200px;
  max-height: auto;
}

.Hangman-word {
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 15px;
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
}

.btns-word {
  text-align: center;
  display: inline-block;
  width: 275px;
  margin-top: 0;
  
}

.Hangman button {
  border: none;
  font-family: inherit;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  width: auto;
  margin: 15px 5px;
  letter-spacing: 10px;
  outline: none;
  background: #5d0877;
  color: #fff;

  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 5px;
  font-size: 20px;
}

.Hangman button:hover {
  background-color: #a505d6;
}

.Hangman button:disabled {
  background: #bdbdbd;
  color: #eeeeee;
  /* box-shadow: 0 6px #9e9e9e; */
}
#reset {
  width: auto;
  display: block;
  margin: 2rem auto;
  background: #7b1fa2;
  

}
#reset:hover {
  background: #a505d6;
}
.Hangman img{
  max-width: 200px;
  max-height: auto;
}

.popup-gameover {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 30%;
  transform: translate(-50%, -50%);
  background-color:aliceblue ;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-gameover p {
  font-family:"Montserrat", sans-serif; 
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.popup-gameover .content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between text and button */
}

.popup-gameover button {
  padding: 15px 65px;
  font-family:"Montserrat", sans-serif;
  font-size: 16px;
  background-color: #7b1fa2;
  color: #f80;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.popup-gameover button:hover {
  background-color: #cc2b5e;
}



/*.popup-gameover {
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background-color: #a505d6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-contentgame {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn-popups {
  margin-top: 20px;
  display: flex; /* Use flexbox for button alignment 
  justify-content: center; /* Center the buttons horizontally 
}

.btn-popups button {
  margin: 0 10px;
  padding: 8px 16px; /* Add some padding to the buttons 
  border: none;
  border-radius: 4px;
  background-color: #4caf50; /* Set a background color for the buttons 
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect 
}

.btn-popups button:hover {
  background-color: #45a049; /* Change the background color on hover 
}*/


@media (max-width: 570px) {
  .Hangman-title{
    text-align: center;
  }
  .Hangman-flex{
    justify-content: center;
  }
  .Hangman-flex div{
    flex: 1 1 auto;
  }
  .Hangman-reset select{
    width: 70%;
  }
  #reset {
    margin: 2rem auto 1rem;
  }
} 