* {
  box-sizing: border-box;
}

body, #root {
  background-color: #34495e;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin-left: 20%;
  overflow: hidden;
}

.Hangman{
  width: 80%;
  margin: 0 auto;
  min-height: 80vh;
}

.Hangman-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
   min-height: inherit;
}

.Hangman-flex div{
  text-align: center;
}

.WelcomeMessage {
  text-align:center;
  align-items: center;
  margin-bottom: 2rem;
}

.WelcomeMessage h1 {
  font-size: 2rem;
  color:aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.WelcomeMessage p {
 font-size: 2rem;
 color: aliceblue;

}

.PlayerName {
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: right;
  margin-bottom: 2rem;
}

.PlayerName input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
  font-family: "Coming Soon", cursive;
  background-color: #fefeff;
  color:  #00bcd4;
}

.PlayerName button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 6px #0097a7;
  font-family: "Coming Soon", cursive;
}

.PlayerName button:hover {
  background-color: #0097a7;
}
